<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Home</title><meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="/static/custom.css" rel="stylesheet">
<title>Woods Vs Forests</title>
<nav class="nav navbar-light bg-success">
    <div class="container-fluid">
          <img src="/static/lonetree.jpg" alt="tree" width="30" height="24" class="d-inline-block align-text-top">
        <a class="navbar-brand" href="/home/">Home</a>
        <a class="navbar-brand" href="/tree/">Trees</a>
        <a class="navbar-brand" href="/woods_vs_forest">Woods Vs Forest</a>
    </div>
</nav>
    <h2>So what is the difference between woods and forests?</h2>
<br>
<p1>Woods cover 25% to 60% of a tree canopy meanwhile forests cover 60% to 100% canopy</p1>
        <br>
        <br>
        <div class="text-center">
    Forests have different three biomes:
    Temperate Forests (mild), tropical forests (hot and rainy) and boreal forests (cold).</p1>
    </div>
<br>
<img src="/static/temperate.jpg" class="rounded float-start" width="200px" alt="temp" title="Temperate Forest" >
<img src="/static/boreal.jpeg" class="rounded float-end" width="200px" alt="bore" title="Boreal Forest">
<img src="/static/tropical%20forests.jpg" class="rounded mx-auto d-block" width="200px" alt="trop" title="Tropical Forest">
<br>
<p1>
    <div class="text-center">
Woods don't have biomes, are more focuses on Ancient woodland (UK) or Old growth land (USA).
    </div>
</p1>
<br>
<img src="/static/ancient.jpg" class="rounded mx mx-auto d-block" width="200px" alt="ancient" title="Ancient Woodland">
<div class="text-center">
<p1>Forests hold alot more life 80% Amphibian known species, 68% Mammals and 75% Bird species.</p1>
</div>
<body>
<br>
<img src="/static/tree%20frog.png" class="rounded mx-auto d-block" width="200px" alt="frog" title="Poison Tree Frog">
<p1>Woods generally hold land-dwelling animals such as deer, rabbit, hedgehogs.</p1>
<br>
<br>
<h4>References:</h4>
<p1><a href="https://www.treehugger.com/woods-vs-forest-5182505">Woods Vs Forests: What's the Difference?
    <br>
    <a href="https://www.reconnectwithnature.org/news-events/the-buzz/what-the-difference-woods-vs-forest">What's the Difference?:Woods vs Forest?</a>
</a> </p1>

<img src="/static/deer.jpg" class="rounded mx-auto d-block" width="200px" alt="ancient" title="deer">
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>/
